*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: arial;
}
div#largura-pagina{
    width: 85%;
    margin: auto;
}
nav{
    background-color: rgba(123, 104, 238);
    height: 60px;
}
ul{
    list-style: none;
    float: right;
    margin-right: 100px;
}
li{
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
h1{
    padding: 70px 0px 25px 0px;
    font-size: 27pt;
    line-height: 40pt;
}
section#conteudo1{
    width: 60%;
}
img{
    width: 100%;
}
p.texto{
    font-size: 15pt;
    color: rgba(0, 0, 0, .8);
    line-height: 40px;
    margin: 20px 6px;
    font-family: 'Microsoft YaHei Light';
}